@tailwind base;
@tailwind components;
@tailwind utilities;
@import './design-system.css';

body {
    @apply bg-[var(--color-background)] text-[var(--color-text-default)] min-h-screen antialiased transition-colors duration-500;
}

.glass-panel {
    @apply backdrop-blur-md bg-white/40 border border-white/20 shadow-sm;
}