@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-sand-100 text-slate-900 min-h-screen antialiased transition-colors duration-500;
}

.glass-panel {
    @apply backdrop-blur-md bg-white/40 border border-white/20 shadow-sm;
}